version: "3"

services:
  db:
    image: postgres:15-alpine
    expose:
      - 5430
    ports:
      - "5430:5430"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=micro
    networks:
      - default

  gateway:
    build:
      context: ./backend/gateway
    ports:
      - "8001:8001"
    command: >
      sh -c "alembic upgrade head &&
             uvicorn main:app --host 0.0.0.0 --port 8001 --reload"
    networks:
      - default
    depends_on:
      - db
      - users
      - locations
      - stores
      - goods
      - orders

  users:
    build:
      context: ./backend/users
    ports:
      - "8002:8002"
    command: >
      sh -c "uvicorn main:create_app --host 0.0.0.0 --port 8002 --reload"
    networks:
      - default

  locations:
    build:
      context: ./backend/locations
    ports:
      - "8003:8003"
    command: >
      sh -c "uvicorn main:create_app --host 0.0.0.0 --port 8003 --reload"
    networks:
      - default

  stores:
    build:
      context: ./backend/stores
    ports:
      - "8004:8004"
    command: >
      sh -c "uvicorn main:create_app --host 0.0.0.0 --port 8004 --reload"
    networks:
      - default

  goods:
    build:
      context: ./backend/goods
    ports:
      - "8005:8005"
    command: >
      sh -c "uvicorn main:create_app --host 0.0.0.0 --port 8005 --reload"
    networks:
      - default

  orders:
    build:
      context: ./backend/orders
    ports:
      - "8006:8006"
    command: >
      sh -c "uvicorn main:create_app --host 0.0.0.0 --port 8006 --reload"
    networks:
      - default


networks:
  default: {}
